<header id="gtco-header" class="gtco-cover gtco-cover-xs" role="banner" style="background-image:url(assets/images/img_bg_1.jpg);">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc">
							<h1 class="animate-box" data-animate-effect="fadeInUp">Sobre Nosotros</h1>
							<h2 class="animate-box" data-animate-effect="fadeInUp">Tus Especialistas en Soluciones y Diseño Están <em>en</em>
								<a href="http://gettemplates.co/" target="_blank">sion.com.ve</a>
							</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="gtco-history" class="gtco-section border-bottom animate-box">
		<div class="gtco-container">
				
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>Historia de la Compañía</h2>
					<p>Sion nace como un proyecto creativo de la mano de personas de distintas partes del mundo, cuyos principales puntos en común son su pasión por la tecnología, ingenio y dedicación.</p>
				</div>
			</div>

			<div class="row row-pb-md">
				<div class="col-md-6">
					<p>Agencia Digital SION surge de la unión de profesionales disciplinados y apasionados por la tecnología, con más de 10 años de experiencia en el mercado tecnológico, siendo expertos en ingeniería y desarrollo web y app, diseño gráfico, marketing digital, publicidad online y soporte técnico para empresas, pymes, compañías emergentes y emprendedores</p>
				</div>
				<div class="col-md-6">
					<p>convencidos de que el ingenio y la creatividad no conocen limites, y, por lo tanto, nuestras soluciones tampoco. Teniendo como premisa que:
						<blockquote>
							Las cosas hechas con amor son las que impactan al mundo y dejan huellas que trascienden en el tiempo
						</blockquote> <cite>Esaú S</cite>.
				</div>
			</div>

			<!-- <div class="row">
				<div class="col-md-12">
					<h3>See The Photos</h3>
				</div>
				<div class="col-md-12">
					<div class="owl-carousel owl-carousel-fullwidth">
						<div class="item">
							<img src="images/img_1.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
						</div>
						<div class="item">
							<img src="images/img_2.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
						</div>
						<div class="item">
							<img src="images/img_3.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
						</div>
						<div class="item">
							<img src="images/img_4.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
						</div>
						<div class="item">
							<img src="images/img_5.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
						</div>
						<div class="item">
							<img src="images/img_6.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
						</div>
					</div>
				</div>
			</div> -->

			
		</div>
	</div>

	<div id="gtco-team" class="gtco-section">
		<div class="gtco-container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>Conoce al Equipo</h2>
					<p>Nuestro equipo está conformado por profesionales de distintas áreas de la tecnología y la información.</p>
				</div>
			</div>


			<div class="row">

				<div class="col-lg-4 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
					<div class="gtco-staff">
						<img src="assets/images/person_1.jpg" alt="Free HTML5 Templates by gettemplates.co">
						<h3>Eusaú Sánchez</h3>
						<strong class="role">Presidente-CEO</strong>
						<!-- <p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci.</p>
						<ul class="gtco-social-icons">
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-github"></i></a></li>
						</ul>
 -->					</div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
					<div class="gtco-staff">
						<img src="assets/images/profile/eulises.jpg" alt="Free HTML5 Templates by gettemplates.co">
						<h3>Eulises Contreras</h3>
						<strong class="role">Director Of Proyect/ Development</strong>
						<!-- <p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci.</p>
						<ul class="gtco-social-icons">
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-github"></i></a></li>
						</ul> -->
					</div>
				</div>

				<div class="clearfix visible-sm-block"></div>
				<div class="col-lg-4 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
					<div class="gtco-staff">
						<img src="assets/images/person_3.jpg" alt="Free HTML5 Templates by gettemplates.co">
						<h3>César Manrique</h3>
						<strong class="role">Senior Software Engineer</strong>
						<!-- <p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci.</p>
						<ul class="gtco-social-icons">
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-github"></i></a></li>
						</ul> -->
					</div>
				</div>

				<div class="clearfix visible-lg-block visible-md-block"></div>
			
				<div class="col-lg-4 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
					<div class="gtco-staff">
						<img src="assets/images/profile/gabriel.png" alt="Free HTML5 Templates by gettemplates.co">
						<h3>Gabriel Carrillo</h3>
						<strong class="role">Senior Softwarew Engineer</strong>
						<!-- <p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci.</p>
						<ul class="gtco-social-icons">
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-github"></i></a></li>
						</ul> -->
					</div>
				</div>

				<div class="clearfix visible-sm-block"></div>
				<div class="col-lg-4 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
					<div class="gtco-staff">
						<img src="assets/images/person_3.jpg" alt="Free HTML5 Templates by gettemplates.co">
						<h3>Hernán Hernández</h3>
						<strong class="role">Senior Software Engineer</strong>
						<!-- <p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci.</p>
						<ul class="gtco-social-icons">
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-github"></i></a></li>
						</ul> -->
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
					<div class="gtco-staff">
						<img src="assets/images/person_2.jpg" alt="Free HTML5 Templates by gettemplates.co">
						<h3>Roosevelt Contreras</h3>
						<strong class="role">Advertising and Marketing Specialist</strong>
						<!-- <p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci.</p>
						<ul class="gtco-social-icons">
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-github"></i></a></li>
						</ul> -->
					</div>
				</div>
				
				<div class="clearfix visible-lg-block visible-md-block"></div>
				
				<div class="col-lg-4 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
					<div class="gtco-staff">
						<img src="assets/images/person_3.jpg" alt="Free HTML5 Templates by gettemplates.co">
						<h3>Eloy Vielma</h3>
						<strong class="role">Specialist in Audivisual, Comunication and Graphic Desing</strong>
						<!-- <p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci.</p>
						<ul class="gtco-social-icons">
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-github"></i></a></li>
						</ul> -->
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
					<div class="gtco-staff">
						<img src="assets/images/person_3.jpg" alt="Free HTML5 Templates by gettemplates.co">
						<h3>Leonardo Narváez</h3>
						<strong class="role">Business Representative in México</strong>
						<!-- <p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci.</p>
						<ul class="gtco-social-icons">
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-github"></i></a></li>
						</ul> -->
					</div>
				</div>
				<div class="clearfix visible-sm-block"></div>
			</div>

		</div>
	</div>