<nav class="gtco-nav" role="navigation">
  <div class="gtco-container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div id="gtco-logo">
          <a routerLink="home"><img src="assets/images/icon.png" with="250" height="50"> <br>
          {{ 'app.sion' | translate }}
          <em>.</em></a>
        </div>
      </div>
      
      <div class="col-md-8 col-sm-12 text-right gtco-contact">
        <ul class="">
          <li><a href="#"><i class="ti-mobile"></i> +1 (0)123 456 7890 </a></li>
          <li><a href="http://twitter.com/gettemplatesco"><i class="ti-twitter-alt"></i> </a></li>
          <li><a href="#"><i class="icon-mail2"></i></a></li>
          <li><a href="#"><i class="ti-facebook"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-right menu-1">
        <ul>
          <li><a routerLink="home">{{ 'app.home' | translate }}</a></li>
          <li><a routerLink="about">{{ 'app.about' | translate }}</a></li>
          <li class="has-dropdown">
            <a routerLink="services">{{ 'app.services' | translate }}</a>
            <ul class="dropdown">
              <li><a routerLink="serviceMain1">{{ 'app.develop' | translate }}</a></li>
              <li><a routerLink="serviceMain2">{{ 'app.design' | translate }}</a></li>
              <li><a routerLink="serviceMain3">{{ 'app.marketing' | translate }}</a></li>
              <li><a routerLink="services">{{ 'app.others' | translate }}</a></li>
            </ul>
          </li>
          <!-- <li><a href="portfolio.html">Portafolio</a></li> -->
          <li><a routerLink="contact">{{ 'app.contact' | translate }}</a></li>
          <li class="has-dropdown">
            <a>{{ 'app.language' | translate }}</a>
            <ul class="dropdown">
              <li><a style="cursor:pointer" (click)="switchLanguage('en')">{{ 'app.en' | translate }}</a></li>
              <li><a style="cursor:pointer" (click)="switchLanguage('es')">{{ 'app.es' | translate }}</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<div id="gtco-subscribe">
		<div class="gtco-container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>{{ 'app.subscribe' | translate }}</h2>
					<p>{{ 'app.subscribeText' | translate }}</p>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-12">
					<form class="form-inline">
						<div class="col-md-4 col-sm-4">
							<div class="form-group">
								<label for="email" class="sr-only">{{ 'app.email' | translate }}</label>
								<input type="email" class="form-control" id="email" placeholder="{{ 'app.email' | translate }}">
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="form-group">
								<label for="name" class="sr-only">{{ 'app.name' | translate }}</label>
								<input type="text" class="form-control" id="name" placeholder="{{ 'app.name' | translate }}">
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<button type="submit" class="btn btn-default btn-block">{{ 'app.sub' | translate }}</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<footer id="gtco-footer" role="contentinfo">
		<div class="gtco-container">
			<div class="row row-p	b-md">

				<div class="col-md-4">
					<div class="gtco-widget">
						<h3>{{ 'app.aboutUs' | translate }}</h3>
						<p id="about-us">
              {{ 'app.aboutUsText' | translate }}
            </p>
					</div>
				</div>

				<div class="col-md-4 col-md-push-1">
					<div class="gtco-widget">
						<h3>Links</h3>
						<ul class="gtco-footer-links">
							<li><a href="#">{{ 'app.termServ' | translate }}</a></li>
							<li><a href="#">{{ 'app.privacyPol' | translate }}</a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-4">
					<div class="gtco-widget">
						<h3>{{ 'app.contactMed' | translate }}</h3>
						<ul class="gtco-quick-contact">
							<li><a href="#"><i class="icon-phone"></i> +1 234 567 890</a></li>
							<li><a href="#"><i class="icon-mail2"></i> info@gettemplates.co</a></li>
							<li><a href="#"><i class="icon-chat"></i> Live Chat</a></li>
						</ul>
					</div>
				</div>

			</div>

			<div class="row copyright">
				<div class="col-md-12">
					<p class="pull-left">
						<small class="block">&copy; 2018. All Rights Reserved.</small> 
						<small class="block">Designed by <a href="http://sion.co/" target="_blank">Sion.com.ve</a></small>
					</p>
					<p class="pull-right">
						<ul class="gtco-social-icons pull-right">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
				</div>
			</div>

		</div>
	</footer>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
<!-- <div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a href="../" class="navbar-brand">My Routers</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="/about">About</a>
        </li>
        <li>
          <a routerLink="/services">Services</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
-->

<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

-->