<header id="gtco-header" class="gtco-cover gtco-cover-xs" role="banner" style="background-image:url(assets/images/img_bg_1.jpg);">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc">
							<h1 class="animate-box" data-animate-effect="fadeInUp">{{ 'services.title' | translate }}</h1>
							<h2 class="animate-box" data-animate-effect="fadeInUp">{{ 'home.title2' | translate }} <em>{{ 'home.title3' | translate }}</em>
								<a href="http://gettemplates.co/" target="_blank">sion.com.ve</a>
							</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	
	<div class="gtco-section border-bottom">
		<div class="gtco-container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>{{ 'services.offer' | translate }}</h2>
					<p>{{ 'services.offerSub' | translate }}</p>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-4">
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="ti-settings"></i>
						</span>
						<div class="feature-copy">
							<h3>{{ 'services.section1.title' | translate }}</h3>
							<p>{{ 'services.section1.text' | translate }}</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="ti-ruler-pencil"></i>
						</span>
						<div class="feature-copy">
							<h3>{{ 'services.section2.title' | translate }}</h3>
							<p>{{ 'services.section2.text' | translate }}</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="ti-face-smile"></i>
						</span>
						<div class="feature-copy">
							<h3>{{ 'services.section3.title' | translate }}</h3>
							<p>{{ 'services.section3.text' | translate }}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="ti-shopping-cart"></i>
						</span>
						<div class="feature-copy">
							<h3>{{ 'services.section4.title' | translate }}</h3>
							<p>{{ 'services.section4.text' | translate }}</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="ti-mobile"></i>
						</span>
						<div class="feature-copy">
							<h3>{{ 'services.section5.title' | translate }}</h3>
							<p>{{ 'services.section5.text' | translate }}</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="ti-desktop"></i>
						</span>
						<div class="feature-copy">
							<h3>{{ 'services.section6.title' | translate }}</h3>
							<p>{{ 'services.section6.text' | translate }}</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="gtco-section">
		<div class="gtco-container">

			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>{{ 'services.sectionMore.title' | translate }}</h2>
					<p>{{ 'services.sectionMore.text' | translate }}</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
						<div class="feature-copy">
							<h3>{{ 'services.subsection1' | translate }}</h3>
						</div>
					</div>

					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
						<div class="feature-copy">
							<h3>{{ 'services.subsection2' | translate }}</h3>
						</div>
					</div>

					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
						<div class="feature-copy">
							<h3>{{ 'services.subsection3' | translate }}</h3>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
						<div class="feature-copy">
							<h3>{{ 'services.subsection4' | translate }}</h3>
						</div>
					</div>

					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
						<div class="feature-copy">
							<h3>{{ 'services.subsection5' | translate }}</h3>
						</div>
					</div>

					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
						<div class="feature-copy">
							<h3>{{ 'services.subsection6' | translate }}</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row"></div>
		</div>
	</div>