<header id="gtco-header" class="gtco-cover gtco-cover-xs" role="banner" style="background-image:url(assets/images/img_bg_1.jpg);">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc">
							<h1 class="animate-box" data-animate-effect="fadeInUp">Nuestros Servicios</h1>
							<h2 class="animate-box" data-animate-effect="fadeInUp">Tus Especialistas en Soluciones y Diseño Están <em>en</em>
								<a href="http://gettemplates.co/" target="_blank">sion.com.ve</a>
							</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	
	<div class="gtco-section border-bottom">
		<div class="gtco-container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>Qué Ofrecemos</h2>
					<p>Más allá de sus problemas, necesidades o nivel empresarial, ¡Sion tiene lo que necesita!. Conozca nuestros servicios, seguro encontrará varios que sean útiles para su negocio.</p>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-4">
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="ti-settings"></i>
						</span>
						<div class="feature-copy">
							<h3>Desarrollo Software</h3>
							<p>Desarrollamos soluciones
							que optimizan procesos y 
							hacen su rutina cada vez 
							más eficiente.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="ti-ruler-pencil"></i>
						</span>
						<div class="feature-copy">
							<h3>Diseño Gráfico</h3>
							<p>Creamos y desarrollamos 
							logotipos, flayers,
							trípticos, dípticos, 
							tarjetas de presentación, 
							y demás material POP para tu
							negocio.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="ti-face-smile"></i>
						</span>
						<div class="feature-copy">
							<h3>Community Manager</h3>
							<p> Tenemos paquetes de
							trabajo para viralizar 
							su marca, producto y 
							servicio</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="ti-shopping-cart"></i>
						</span>
						<div class="feature-copy">
							<h3>E-Commerce</h3>
							<p>Estamos especializados para 
							entregar una herramienta de 
							ventas fácil de usar, adaptable 
							y con excelentes resultados.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="ti-mobile"></i>
						</span>
						<div class="feature-copy">
							<h3>Desarrollo App</h3>
							<p> Desarrollamos aplicaciones
							para iOS y Android personalizadas,
							para que la practicidad del celular 
							sea utilizada en su favor.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="ti-desktop"></i>
						</span>
						<div class="feature-copy">
							<h3>Web Sities</h3>
							<p> Tenga un sitio 
							personalizado con
							su identidad visual,
							moderna, de acuerdo
							con las tendencias
							más contemporáneas
							de desarrollo web.</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="gtco-section">
		<div class="gtco-container">

			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>Más Servicios</h2>
					<p>¡Espera!, sabemos que mantener una empresa no es sencillo, tenemos mucho más para ofrecerte.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
						<div class="feature-copy">
							<h3>Marketing Digital</h3>
						</div>
					</div>

					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
						<div class="feature-copy">
							<h3>Diseño de Base de Datos</h3>
						</div>
					</div>

					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
						<div class="feature-copy">
							<h3>Diagramas de Flujo</h3>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
						<div class="feature-copy">
							<h3>Centro de Servicios</h3>
						</div>
					</div>

					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
						<div class="feature-copy">
							<h3>Soporte Técnico</h3>
						</div>
					</div>

					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
						<div class="feature-copy">
							<h3>Mantenimiento y limpieza de Software</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row"></div>
		</div>
	</div>